/* 
* By Emma Kelly
* 5 February 2023
* HW3 CS 341
*/

/* Style for dropdown */
.dropdown {
  display: inline-block;
}

.content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content a:hover {background-color: #ddd;}

.dropdown:hover .content {display: block;}

.dropdown:hover .dropdownbtn {background-color: #3e8e41;}

/* Main background color */
body {
  background-color: #beb599;
}

/* Color/fonts for headers/buttons */
h1,
h3,
button {
  color: #45070a;
  font-family: Georgia;
}

h3 {
  display: inline;
}

textarea {
  width: 300px;
  height: 100px;
}

/* Title */
h1 {
  width: 100%;
  margin: -8px;
  margin-bottom: 10px;
  padding: 30px;
  text-shadow: 0px 0px 10px white;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.5));
  border-bottom: 5px solid #45070a;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Mondays_at_Il_Forno_-_Cheesecake_with_strawberry_sauce.jpg/1200px-Mondays_at_Il_Forno_-_Cheesecake_with_strawberry_sauce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 30px solid #45070a;
}

/* Selections, buttons, and changes/animations */
option {
  background-color: white;
  border: 3px solid #45070a;
}

button {
  font-weight: bolder;
  color: #45070a;
  padding: 10px;
  border: 3px solid #45070a;
  border-radius: 10px;
  background-color: white;
}

button:hover {
  scale: 1.05;
  background-color: #ddd;
}

button:active {
  scale: 0.99;
  background-color: white;
}

img {
  width: 200px;
  height: 200px;
  border: 5px solid #45070a;
  border-radius: 20px;
  animation-name: breathe;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes breathe {
  0% {
    scale: 1;
  }
  10% {
    scale: 1.05;
  }
  20% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

img:hover {
  box-shadow: 0px 0px 20px white;
  scale: 1.1;
}

/* Options, tables, and lists */
li,
label,
select {
  font-family: Courier;
  color: #6f5236;
  font-weight: bold;
}

table {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid #45070a;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

li:hover {
  scale: 1.05;
  font-weight: bold;
  text-decoration: underline;
}

ul {
  padding: 10px;
  padding-left: 50px;
  margin-left: -8px;
  margin-bottom: -10px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 30px solid #45070a;
  width: 100%;
}

p {
  color: #45070a;
  font-weight: bold;
}

select {
  font-family: Courier;
  border: 3px solid #45070a;
  border-radius: 10px;
  padding: 5px;
}

select:hover {
  scale: 1.05;
  background-color: #ddd;
}

select:active {
  scale: 1;
  background-color: white;
}

#selectable {
  color: black;
  background-color:#AEC0CF;
};
}
